@charset "UTF-8";
@import "import/colorset.less";
@import "import/variable.less";
@import "import/mixin.less";


/* KoPubDotum */
@font-face {
  font-family: 'KoPubDotum';
  src: url('../fonts/kopubdotumTTF/KoPubWorld Dotum Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'KoPubDotum';
  src: url('../fonts/kopubdotumTTF/KoPubWorld Dotum Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'KoPubDotum';
  src: url('../fonts/kopubdotumTTF/KoPubWorld Dotum Bold.ttf') format('truetype');
  font-weight: 700;
}


/* Nixgon */
@font-face {
  font-family: 'Nixgon';
  src: url('../fonts/nixgonTTF/NIXGONFONTS L 2.0.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Nixgon';
  src: url('../fonts/nixgonTTF/NIXGONFONTS M 2.0.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nixgon';
  src: url('../fonts/nixgonTTF/NIXGONFONTS B 2.0.ttf') format('truetype');
  font-weight: 700;
}


html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #000;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  @media @mobile {
    .calcWidth(40px);
  }

  h2 {
    color: #fff;
    font-size: 55px;
    font-family: "Nixgon";
    font-weight: 500;
    line-height: 1;
    letter-spacing: -3px;
    @media @mobile {
      font-size: 22px;
      letter-spacing: -1px;
    }
  }
}

#header {
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;

  .wrapper {
    height: 80px;
    @media @mobile {
      height: 70px;
    }

    h1.logo {
      float: left;
      margin-top: 15px;
      @media @mobile {
        float: none;
        margin-top: 5px;
      }

      a {
        display: block;
        @media @mobile {
          display: block;
          width: 39px;
          margin: 0 auto;
        }

        img {
          width: 76px;
          height: 49px;
          @media @mobile {
            width: 39px;
            height: 25px;
          }
        }
      }
    }

    #nav {
      float: left;
      margin: 30px 0 0 228px;
      @media @mobile {
        float: none;
        margin: 17px 0 0 0;
      }

      ul.nav-list {
        @media @mobile {
          line-height: 0;
          text-align: center;
        }

        li {
          float: left;
          @media @mobile {
            float: none;
            display: inline-block;
          }

          &:nth-child(1) {
            margin-right: 99px;
            @media @mobile {
              margin: 0 8px;
            }
          }

          &:nth-child(2) {
            margin-right: 96px;
            @media @mobile {
              margin: 0 8px;
            }
          }

          &:nth-child(3) {
            margin-right: 82px;
            @media @mobile {
              margin: 0 8px;
            }
          }

          &:nth-child(4) {
            margin-right: 74px;
            @media @mobile {
              margin: 0 8px;
            }
          }

          &:nth-child(5) {
            @media @mobile {
              margin: 0 8px;
            }
          }

          a {
            display: block;
            height: 20px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            font-family: Nixgon;
            line-height: 20px;
            letter-spacing: -1px;
            @media @mobile {
              font-size: 10.5px;
            }

            &.checked {
              color: @color-main;
              font-weight: 700;
            }
          }
        }
      }
    }

    a.kakao-friend {
      display: block;
      float: right;
      margin-top: 24px;
      @media @mobile {
        display: none;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

#container {
  #home {
    position: relative;

    .video-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;

      .background-cover {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        background-color: #000;
        opacity: 0.85;
      }
    }

    .wrapper {
      z-index: 2;
      height: 1140px;
      @media @mobile {
        height: 550px;
      }

      a.about-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        font-family: "KoPubDotum";
        font-weight: 500;
        line-height: 50px;
        letter-spacing: -1px;
        text-align: center;
        @media @mobile {
          width: 80px;
          height: 27px;
          line-height: 27px;
          font-size: 9px;
        }

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);

        }
      }

      .title-box {
        float: left;
        margin-top: 680px;
        @media @mobile {
          margin-top: 170px;
        }

        p {
          color: #fff;
          font-family: "KoPubDotum";
          font-weight: 500;

          &.title {
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -2px;
            @media @mobile {
              font-size: 16.5px;
              line-height: 22px;
              letter-spacing: -1px;
            }
          }

          &.tag-list {
            font-size: 24px;
            line-height: 1;
            letter-spacing: -1px;
            margin: 5px 0 25px 0;
            @media @mobile {
              font-size: 9px;
              letter-spacing: -0.5px;
            }
          }
        }

        ul.link-list {
          @media @mobile {
            display: none;
          }

          li {
            float: left;
            margin-right: 10px;

            a {
              display: block;
              width: 38px;
              height: 38px;
              background-size: cover;
              background-position: 50% 50%;

              &.facebook {
                background-image: url("../img/facebook.png");
              }

              &.youtube {
                background-image: url("../img/youtube.png");
              }

              &.instagram {
                background-image: url("../img/instar.png");
              }

              &.smart {
                background-image: url("../img/smart.png");
              }

              &.blog {
                background-image: url("../img/blog.png");
              }
            }
          }
        }
      }

      a.down-btn {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        @media @mobile {
          bottom: 30px;
        }

        img {
          width: 37px;
          height: 37px;
          @media @mobile {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  #about {
    .wrapper {
      padding-top: 84px;
      @media @mobile {
        padding-top: 45px;
      }

      h2 {
        text-align: center;
        margin-bottom: 200px;
        @media @mobile {
          margin-bottom: 100px;
        }
      }

      .about-box {
        margin-bottom: 120px;

        @media @mobile {
          margin-bottom: 80px;
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: -20px;
            width: 162px;
            height: 1px;
            background-color: #fff;
          }
        }

        &.right-box {
          @media @mobile {
            &:before {
              left: -20px;
            }
          }

          img.about-box-img {
            float: left;
            margin-right: 30px;

            @media @mobile {
              margin-right: 0;
            }
          }

          .about-box-line {
            float: left;
          }

          .about-box-txt {
            float: right;
            text-align: right;
          }
        }

        &.left-box {
          @media @mobile {
            &:before {
              right: -20px;
            }
          }

          img.about-box-img {
            float: right;
            margin-left: 30px;
            @media @mobile {
              margin-left: 0;
            }
          }

          .about-box-line {
            float: right;
          }

          .about-box-txt {
            float: left;
            text-align: left;
          }
        }

        img.about-box-img {
          width: 500px;
          height: 280px;
          display: block;
          @media @mobile {
            width: 142px;
            height: 80px;
          }
        }

        .about-box-line {
          height: 1px;
          background-color: #fff;

          @media @mobile {
            display: none;
          }

          &.long {
            width: 330px;
          }

          &.short {
            width: 260px;
          }

          &.middle {
            width: 290px;
          }
        }

        .about-box-txt {
          h3.about-box-title {
            margin-top: -20px;
            color: @color-main;
            font-size: 50px;
            font-family: "Nixgon";
            font-weight: 500;
            line-height: 1;
            letter-spacing: -3px;
            @media @mobile {
              margin-top: -30px;
              font-size: 20px;
              letter-spacing: -2px;
            }
          }

          p {
            margin-top: 50px;
            color: #fff;
            font-size: 20px;
            font-family: "KoPubDotum";
            font-weight: 500;
            line-height: 35px;

            span.pc-block {
              display: block;
            }

            @media @mobile {
              font-size: 8px;
              line-height: 1.8;
              margin-top: 20px;
              span.mobile-block {
                display: block;
              }

              span.pc-block {
                display: none;
              }
            }

            &.exception {
              margin-top: 20px;
              @media @mobile {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }

  #work {
    .wrapper {
      padding: 190px 0 410px;
      @media @mobile {
        padding: 15px 0 70px;
      }

      h2 {
        padding: 120px 0 210px;
        text-align: left;
        @media @mobile {
          padding: 0 0 35px;
          text-align: center;
          line-height: 1.2;
          letter-spacing: -1px;
          span {
            display: block;
          }
        }
      }
      .swiper-section {
        position: relative;
        @media @mobile {
          width: 220px;
          margin: 0 auto;
        }
        .swiper-button-arrow {
          display: none;
          @media @mobile {
            display: block;
            width: 7px;
            height: 19px;
            position: absolute;
            top: 35%;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }

          &.swiper-button-arrow-prev {
            left: -20px;
            background-image: url("../img/prev_arrow.png");
          }

          &.swiper-button-arrow-next {
            right: -20px;
            background-image: url("../img/next_arrow.png");
          }
        }
        .swiper {
          @media @mobile {
          }

          .swiper-wrapper {
            @media @mobile {
            }

            .swiper-slide {
              .inner-wrapper {
                position: relative;

                iframe {
                  width: 100%;
                  height: 250px;
                  @media @mobile {
                    height: 125px;
                  }
                }

                div.youtube {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                }
              }
              p {
                margin-top: 20px;
                color: #fff;
                font-size: 32px;
                font-family: "Nixgon";
                font-weight: 500;
                line-height: 1;
                letter-spacing: -2px;
                text-align: center;
                @media @mobile {
                  font-size: 12px;
                  letter-spacing: 0;
                }
              }
            }
          }
        }
      }

    }
  }

  #portfolio {
    .wrapper {
      h2 {
        text-align: right;
        padding-bottom: 100px;
        @media @mobile {
          text-align: center;
          padding: 35px 0 60px;
        }
      }

      ul.youtube-list {
        @media @mobile {
          width: 280px;
          margin: 0 auto;
        }

        li {
          float: left;
          margin: 0 16px 13px 0;
          @media @mobile {
            margin: 0 4px 8px 16px;
            &:nth-child(2n) {
              margin: 0 16px 8px 4px;
            }
          }

          &:nth-child(4n) {
            margin-right: 0;
            @media @mobile {
              margin: 0 16px 8px 4px;
            }
          }

          a {
            display: block;
            position: relative;

            &:hover {
              div {
                display: block;
              }
            }

            img {
              display: block;
              width: 288px;
              height: 162px;
              @media @mobile {
                width: 120px;
                height: 65px;
              }
            }

            div {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.85);
              text-align: center;
              color: #fff;
              font-size: 22px;
              font-family: "Nixgon";
              font-weight: 500;
              line-height: 162px;
              letter-spacing: -1px;
              @media @mobile {
                font-size: 12px;
                line-height: 65px;
              }
            }
          }
        }
      }
    }
  }

  #contact {
    .wrapper {
      padding: 140px 0 113px;
      @media @mobile {
        padding: 105px 0 75px;
      }

      h2 {
        text-align: left;
        margin-bottom: 83px;
        @media @mobile {
          text-align: center;
          margin-bottom: 55px;
        }
      }

      p.title {
        color: #fff;
        font-size: 25px;
        font-family: "Nixgon";
        font-weight: 500;
        line-height: 1;
        letter-spacing: -1.5px;
        text-align: center;
        margin-bottom: 105px;
        @media @mobile {
          font-size: 15px;
          letter-spacing: -1px;
          margin-bottom: 37px;
        }
      }

      ul.icon-list {
        line-height: 0;
        text-align: center;

        li {
          display: inline-block;
          margin: 0 27.5px;
          @media @mobile {
            display: block;
            margin-bottom: 25px;
            text-align: center;
          }

          &:nth-child(1) {
            img {
              width: 78px;
              height: 55px;
              padding-bottom: 10px;
              @media @mobile {
                width: 37px;
                height: 26px;
                padding-bottom: 5px;
              }
            }
          }

          &:nth-child(2) {
            img {
              width: 45px;
              height: 78px;
              @media @mobile {
                width: 21px;
                height: 37px;
              }
            }
          }

          &:nth-child(3) {
            img {
              width: 75px;
              height: 77px;
              @media @mobile {
                width: 36px;
                height: 37px;
              }
            }
          }

          img {
            display: block;
            margin: 0 auto;
          }

          p {
            margin-top: 35px;
            @media @mobile {
              margin-top: 11px;
            }

            span {
              display: block;
              color: #fff;
              font-size: 20px;
              font-family: "Nixgon";
              font-weight: 500;
              line-height: 1;
              letter-spacing: -1px;
              text-align: center;
              @media @mobile {
                font-size: 10px;
                letter-spacing: -0.5px;
              }

              &:nth-of-type(2) {
                margin-top: 5px;
              }
            }

          }
        }
      }

      ul.sns-list {
        margin-top: 105px;
        text-align: center;
        line-height: 0;
        @media @mobile {
          margin: 0 auto;
          width: 280px;
        }

        li {
          display: inline-block;
          margin: 0 25px;
          @media @mobile {
            width: 70px;
          }

          &:nth-of-type(1) {
            @media @mobile {
              margin: 0 0 30px 0;
            }

            a {
              background-image: url("../img/blog.png");
            }

            &:hover {
              a {
                background-image: url("../img/blog_on.png");
              }
            }
          }

          &:nth-of-type(2) {
            @media @mobile {
              margin: 0 10px 30px 15px;
            }

            a {
              background-image: url("../img/facebook.png");
            }

            &:hover {
              a {
                background-image: url("../img/facebook_on.png");
              }
            }
          }

          &:nth-of-type(3) {
            @media @mobile {
              margin: 0 0 30px 10px;
            }

            a {
              background-image: url("../img/instar.png");
            }

            &:hover {
              a {
                background-image: url("../img/instar_on.png");
              }
            }
          }

          &:nth-of-type(4) {
            @media @mobile {
              margin: 0 20px 0 0;
            }

            a {
              background-image: url("../img/youtube.png");
            }

            &:hover {
              a {
                background-image: url("../img/youtube_on.png");
              }
            }
          }

          &:nth-of-type(5) {
            @media @mobile {
              margin: 0;
            }

            a {
              background-image: url("../img/smart.png");
            }

            &:hover {
              a {
                background-image: url("../img/smart_on.png");
              }
            }
          }

          a {
            display: block;
            margin: 0 auto 13px;
            width: 65px;
            height: 65px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            @media @mobile {
              width: 43px;
              height: 43px;
            }
          }

          span {
            color: #fff;
            font-size: 20px;
            font-family: "Nixgon";
            font-weight: 500;
            line-height: 1;
            letter-spacing: -1px;
            text-align: center;
            @media @mobile {
              font-size: 13.5px;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
  }
}

#footer {
  .wrapper {
    padding-bottom: 60px;
    @media @mobile {
      padding-bottom: 17px;
    }

    h3.logo {
      float: right;
      margin: 80px 0 0 28px;
      @media @mobile {
        float: none;
        margin: 22px 0 0 0;
        text-align: right;
      }

      img {
        display: block;
        width: 76px;
        height: 49px;
        @media @mobile {
          display: inline;
          width: 40px;
          height: 25px;
        }
      }
    }

    .info-wrapper {
      float: right;
      margin-top: 68px;
      text-align: right;
      @media @mobile {
        float: none;
        margin-top: 12px;
      }

      h4 {
        color: #fff;
        font-size: 20px;
        font-family: "KoPubDotum";
        font-weight: 500;
        line-height: 1;
        letter-spacing: -1px;
        margin-bottom: 10px;
        @media @mobile {
          font-size: 12px;
          margin-bottom: 7px;
          letter-spacing: -0.5px;
        }
      }

      p {
        color: #fff;
        font-size: 15px;
        font-family: "KoPubDotum";
        font-weight: 500;
        line-height: 1;
        letter-spacing: -1px;
        margin-bottom: 10px;
        @media @mobile {
          font-size: 10px;
          margin-bottom: 5px;
          letter-spacing: -1px;
        }
      }
    }
  }
}

.youtube-modal-wrapper {
  z-index: 99999;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);

  iframe {
    width: 1140px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media @extra-small {
      width: 280px;
      height: 220px;
    }
  }
}